In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('Ecommerce_Purchases.csv')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.010000e+15,02/20/22,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.340000e+15,11/18/22,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.760000e+11,08/19/22,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.010000e+15,02/24/22,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.010000e+15,10/25/22,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  float64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB

1) What is the Average Purchase Price ?

In [10]:
df['Purchase Price'].mean()

np.float64(50.347302)

2) What is the least Purchase Price?

In [12]:
df['Purchase Price'].min()

0.0

3) What is the highest Purchase Price?

In [13]:
df['Purchase Price'].max()

99.99

4) Number of rows present in dataset...

In [14]:
len(df)

10000

5) Number of columns in dataset...

In [16]:
len(df.columns)

14

6) Languages present in dataset

In [18]:
df['Language']

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object

7) How many people choose English language on the website?

In [19]:
df.groupby('Language').count()[['Email']].loc['en']

Email    1098
Name: en, dtype: int64

In [20]:
df[df['Language'] == 'en'].count()['Email']

np.int64(1098)

8) How many people have job title of "lawyer"?

In [21]:
df[df['Job'] == 'Lawyer']['Email'].count()

np.int64(30)

9) How many people made the purchase during the AM and how many people made the purchase during PM ?

In [22]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

In [23]:
df.columns

Index(['address', 'lot', 'am_or_pm', 'browser_info', 'company', 'credit_card',
       'cc_exp_date', 'cc_security_code', 'cc_provider', 'email', 'job',
       'ip_address', 'language', 'purchase_price'],
      dtype='object')

In [24]:
df.groupby('am_or_pm').count()['email'].sort_values(ascending=False)

am_or_pm
PM    5068
AM    4932
Name: email, dtype: int64

In [25]:
df['am_or_pm'].value_counts()

am_or_pm
PM    5068
AM    4932
Name: count, dtype: int64

10) what are 5 most common Job Titles?

In [26]:
df.groupby('job').count()['email'].sort_values( ascending=False).head(5)

job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: email, dtype: int64

11) what are 5 least Job Titles?

In [28]:
df['job'].value_counts().sort_values(ascending=True).head(5)

job
Investment analyst             5
Information systems manager    5
Editor, film/video             6
Actuary                        6
Stage manager                  7
Name: count, dtype: int64

12) what was the Purchase Price made from Lot: "90 WT" ?

In [29]:
df[df['lot'] == '90 WT'][['lot','purchase_price']]

       lot  purchase_price
513  90 WT            75.1

13) Number of people having "Engineer" in their job title?

In [35]:
len(df[df['job'].str.contains('engineer',case=False)])

984

14) Find Email of The Person With The Following IP Address : 132.207.160.22 ?

In [38]:
df[df['ip_address']=="132.207.160.22"]['email']

2    amymiller@morales-harrison.com
Name: email, dtype: object

15) How many people have American Express as their Credit Card Provider and made a purchase above 95 $ ?

In [42]:
df[(df['cc_provider'] == 'American Express') & (df['purchase_price'] > 95)].count()['email']

np.int64(39)

16) What are the top 5 Most Popular Email providers(e.g. gmail.cpm, yahoo.com, etc..)

In [43]:
df['email'].apply(lambda x:x.split('@')[1]).value_counts().head()

email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

17) How many people have a credit card that expires in 2025?

In [44]:
df['cc_exp_date']

0       02/20/22
1       11/18/22
2       08/19/22
3       02/24/22
4       10/25/22
          ...
9995    03/22/22
9996    07/25/22
9997    05/21/22
9998    11/17/22
9999    02/19/22
Name: cc_exp_date, Length: 10000, dtype: object

In [48]:
df['cc_exp_date'].isin(['07/25/22']).sum()

np.int64(85)

In [52]:
sum(df['cc_exp_date'].apply(lambda x: x.split('/')[1]) == '25')

1033