                                                LOADING THE DATA

In [1]:
import pandas as pd

# Load CSV
df = pd.read_csv('Ecommerce_Purchases.csv')

# Quick look at the data
print(df.head())
print(df.info())

                                             Address    Lot AM or PM  \
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  46 in       PM
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  28 rn       PM
2                 Unit 0065 Box 5052\r\nDPO AP 27450  94 vE       PM
3            7780 Julia Fords\r\nNew Stacy, WA 45798  36 vm       PM
4  23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  20 IE       AM

                                        Browser Info  \
0  Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1  Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4  Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...

                           Company   Credit Card CC Exp Date  \
0                  Martinez-Herman  6.010000e+15    02/20/22
1  Fletcher, Richards and Whitaker  3.340000e+15    11/18/22
2       Simpson, Williams and Pham  6.760000e+11    08/19/22
3  Williams, Marshall and Buchanan  6.010000e+15    02/24/22
4        Brown, Watson and Andrews  6.010000e+15    10/25/22

   CC Security Code                  CC Provider  \
0               900                 JCB 16 digit
1               561                   Mastercard
2               699                 JCB 16 digit
3               384                     Discover
4               678  Diners Club / Carte Blanche

                            Email                                     Job  \
0               pdunlap@yahoo.com  Scientist, product/process development
1              anthony41@reed.com                       Drilling engineer
2  amymiller@morales-harrison.com                Customer service manager
3     brent16@olson-robinson.info                       Drilling engineer
4     christopherwright@gmail.com                             Fine artist

        IP Address Language  Purchase Price
0  149.146.147.205       el           98.14
1     15.160.41.51       fr           70.73
2   132.207.160.22       de            0.95
3     30.250.74.19       es           78.04
4     24.140.33.94       es           77.82
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  float64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB
None

                                             EXPLORE AND UNDERSTAND THE DATA

In [2]:
# Basic statistics
print(df.describe(include='all'))

# Check missing values
print(df.isnull().sum())

# Check for duplicates
print(df.duplicated().sum())

                                        Address    Lot AM or PM  \
count                                     10000  10000    10000
unique                                    10000   9822        2
top     PSC 5678, Box 4503\r\nAPO AP 94998-5546  03 dn       PM
freq                                          1      2     5068
mean                                        NaN    NaN      NaN
std                                         NaN    NaN      NaN
min                                         NaN    NaN      NaN
25%                                         NaN    NaN      NaN
50%                                         NaN    NaN      NaN
75%                                         NaN    NaN      NaN
max                                         NaN    NaN      NaN

                                             Browser Info      Company  \
count                                               10000        10000
unique                                               8287         8653
top     Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...  Smith Group
freq                                                   12           15
mean                                                  NaN          NaN
std                                                   NaN          NaN
min                                                   NaN          NaN
25%                                                   NaN          NaN
50%                                                   NaN          NaN
75%                                                   NaN          NaN
max                                                   NaN          NaN

         Credit Card CC Exp Date  CC Security Code   CC Provider  \
count   1.000000e+04       10000      10000.000000         10000
unique           NaN         121               NaN            10
top              NaN    08/22/22               NaN  JCB 16 digit
freq             NaN         108               NaN          1716
mean    2.341443e+15         NaN        907.217800           NaN
std     2.255963e+15         NaN       1589.693035           NaN
min     6.040186e+10         NaN          0.000000           NaN
25%     3.060000e+13         NaN        280.000000           NaN
50%     8.700000e+14         NaN        548.000000           NaN
75%     4.490000e+15         NaN        816.000000           NaN
max     6.010000e+15         NaN       9993.000000           NaN

                        Email                            Job     IP Address  \
count                   10000                          10000          10000
unique                   9954                            623          10000
top     brownjohn@hotmail.com  Interior and spatial designer  245.22.66.225
freq                        2                             31              1
mean                      NaN                            NaN            NaN
std                       NaN                            NaN            NaN
min                       NaN                            NaN            NaN
25%                       NaN                            NaN            NaN
50%                       NaN                            NaN            NaN
75%                       NaN                            NaN            NaN
max                       NaN                            NaN            NaN

       Language  Purchase Price
count     10000    10000.000000
unique        9             NaN
top          de             NaN
freq       1155             NaN
mean        NaN       50.347302
std         NaN       29.015836
min         NaN        0.000000
25%         NaN       25.150000
50%         NaN       50.505000
75%         NaN       75.770000
max         NaN       99.990000
Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64
0

                                                      CLEAN THE DATA

In [3]:
# Remove duplicates
df = df.drop_duplicates()

# Handle missing values
df = df.dropna()  # or use df.fillna() if imputation is better

# Convert data types if needed
# Example: convert date string to datetime
if 'Purchase Time' in df.columns:
    df['Purchase Time'] = pd.to_datetime(df['Purchase Time'])

In [4]:
if 'Purchase Time' in df.columns:
    df['Hour'] = df['Purchase Time'].dt.hour
    df['Day'] = df['Purchase Time'].dt.day_name()

In [7]:
columns_to_drop = [
    'Address', 'Lot', 'IP Address',
    'Credit Card', 'CC Exp Date', 'CC Security Code'
]
df_cleaned = df.drop(columns=columns_to_drop)
df_cleaned['Email'] = df_cleaned['Email'].str.strip().str.lower()
df_cleaned.drop_duplicates(inplace=True)

In [15]:
df_cleaned.to_csv("Cleaned_Ecommerce_Purchases.csv", index=False)

                                                      GENERATING INSIGHTS

1) Average Purchase Price

In [8]:
avg_purchase_price = df_cleaned['Purchase Price'].mean()
print(f"Average Purchase Price: ${avg_purchase_price:.2f}")

Average Purchase Price: $50.35

2) Most Common Language

In [9]:
top_language = df_cleaned['Language'].value_counts().idxmax()
print(f"Most Common Language: {top_language}")

Most Common Language: de

3) Top 5 Companies by Avg purchase price

In [10]:
top_companies = df_cleaned.groupby('Company')['Purchase Price'].mean().sort_values(ascending=False).head(5)
print("\nTop 5 Companies by Avg. Purchase Price:")
print(top_companies)

Top 5 Companies by Avg. Purchase Price:
Company
Pitts Group                  99.99
Porter, Johnson and Pratt    99.99
Olson-Navarro                99.97
Fitzpatrick Group            99.95
Bond-Oconnor                 99.92
Name: Purchase Price, dtype: float64

4) Most common job title

In [11]:
top_job = df_cleaned['Job'].value_counts().idxmax()
print(f"\nMost Common Job Title: {top_job}")

Most Common Job Title: Interior and spatial designer

5) Distribution of AM/PM Purchases

In [13]:
ampm_counts = df_cleaned['AM or PM'].value_counts()
print("\nAM vs PM Purchases:")
print(ampm_counts)

AM vs PM Purchases:
AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

6) Top 5 Credit card providers by Total Purchase price

In [14]:
top_cc_providers = df_cleaned.groupby('CC Provider')['Purchase Price'].sum().sort_values(ascending=False).head(5)
print("\nTop 5 Credit Card Providers by Total Purchase Value:")
print(top_cc_providers)

Top 5 Credit Card Providers by Total Purchase Value:
CC Provider
VISA 16 digit       85528.86
JCB 16 digit        84597.33
JCB 15 digit        44376.60
Voyager             43085.77
American Express    42865.52
Name: Purchase Price, dtype: float64